<div id="formacao" class="container-md">
    <div class="row">
        <div class="col-xl-8 offset-xl-2 col-lg-10 offset-lg-1">
            <h1>Formação Acadêmica</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas, accusantium.  </p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas, accusantium.  </p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas, accusantium.  </p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas, accusantium.  </p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas, accusantium.  </p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas, accusantium.  </p>
        </div>
    </div>
</div>